# IDE Configuration
.idea/
.vscode/
*.iml

# Gradle
.gradle/
/local.properties
local.properties

# Build Output
/build/
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Android Release Builds
app/release/

# Ignore tmp file for yuki hook api
assets/xposed_init
resources/META-INF/yukihookapi_init

# Runtime logs / local build logs（不要把运行日志提交上去）
/log/
build.log
