<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- focus-api 面向 HyperOS 3 / Android 15，但其运行时调用已被 isHyperOS 守卫。
         此处覆盖其 minSdk 限制，使模块可在 Android 13 (MIUI14) 安装，
         同时仍将该库打包进 APK 供 HyperOS 使用。 -->
    <uses-sdk tools:overrideLibrary="com.xzakota.hyper.notification" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <queries>
        <package android:name="com.yuandao.nicehck" />
        <package android:name="com.android.settings" />
    </queries>

    <application
        android:name=".HyperOriGApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_subtitle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:extractNativeLibs="false"
        android:enableOnBackInvokedCallback="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperOriG">

        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".PopupActivity"
            android:theme="@style/Theme.HyperOriG.Popup"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.redwind.hyperorig.action.show_pods_ui" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 接收其它进程转发的运行日志 -->
        <receiver
            android:name=".LogForwardReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.redwind.hyperorig.action.runtime_log" />
            </intent-filter>
        </receiver>

        <!-- 用于把运行日志文件分享/导出 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Set as Xposed Module -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- Set your Xposed Module description -->
        <meta-data
            android:name="xposeddescription"
            android:value="为 NickHCK YuanDao OriG in 耳机接入 Xiaomi HyperOS。MIUI14 Mod 版。" />

        <!-- The minimum Xposed version number -->
        <meta-data
            android:name="xposedminversion"
            android:value="101" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>
